.vscode

api/.env
api/build
api/npm-debug.log
api/.DS_Store
api/debug.log
api/node_modules

back/.env
back/build
back/npm-debug.log
back/.DS_Store
back/debug.log
back/node_modules

front/.env
front/build
front/npm-debug.log
front/.DS_Store
front/debug.log
front/node_modules
