/* Display */

.display {
  background-color: rgb(86, 88, 88);
  color: rgb(255, 250, 236);
  width: auto;
  display: flex;
  flex-flow: column;
  -ms-flex-flow: column;
  justify-content: space-between;
  padding: 15px 15px 0 15px;
  flex-grow: 1;
}

.display-formula,
.display-input {
  width: 100%;
  resize: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  border: none;
  outline: none;
  text-align: right;
  background-color: inherit;
  color: rgb(255, 250, 236);
}

.display-formula {
  flex-grow: 1;
  font-size: 2rem;
}

.display-input {
  flex-shrink: 0;
  font-size: 1.75rem;
  color: rgb(255, 250, 236);
  white-space: nowrap;
  padding-bottom: 15px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (min-width: 768px) {
  #view-github {
    display: none;
  }
}